<div class="todos-wrapper">
    <div class="container">
        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">My text of todo, lorem ipsum</p>
        </div>
        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">My text of todo, lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, officiis quisquam hic beatae dolor eaque debitis, totam libero similique perferendis eum tempore saepe cumque et, nihil placeat quas ab esse.</p>
        </div>
    </div>
</div>