<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="note-card">
                <div class="note-card-title">My note title, important :) </div>
                <div class="note-card-content">The note content, less important, lorem ipsum lorem</div>
            </div>
            <div class="note-card">
                <div class="note-card-title">My note title, important :) </div>
                <div class="note-card-content">The note content, less important, lorem ipsum lorem</div>
            </div>
            <div class="note-card">
                <div class="note-card-title">My note title, important :) </div>
                <div class="note-card-content">The note content, less important, lorem ipsum lorem</div>
            </div>
            <div class="note-card">
                <div class="note-card-title">My note title, important :) </div>
                <div class="note-card-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, consequatur perferendis? Nemo nesciunt fuga, pariatur a velit accusamus est? Provident quas at, ex obcaecati eius quia et fugiat delectus corrupti.</div>
            </div>
        </div>
    </div>
</div>
