<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="note-card">
                <div class="note-card-title">My note title, important :) </div>
                <div class="note-card-content">The note content, less important, lorem ipsum lorem</div>
            </div>

            <div class="btns-container centered">
                <a routerLink="add" class="btn add-btn">
                    <i class="material-icons-outlined">add</i>
                    Add
                </a>
            </div>
            
        </div>
    </div>
</div>
