.notes-wrapper {
    height: 100%;
    overflow-y: auto;

}

app-note-card {
    display: block; // by default angular component are inline
    margin-bottom: 15px;
}

// BUTTONS
.add-btn i {
    margin-right: 5px;
    margin-left: -3px;
}