.bookmarks-wrapper {
    height: 100%;
    // background-color: blue;

    overflow-y: auto;
}

.bookmark-tiles-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;

}